// Escopo global
// Cores
    $text-color1: #FFFFF9;
    $text-color2: #0B0919;
    $text-color3: #2B3400;
    $text-color4: #AED347;
    $background-color-header: #B9B2A8; 
    $background-color2: #A79A90; 
    $background-color3: #000000;
    $background-color4: #948277;

// Fonte
    $font-cabecalho: "Sora", sans-serif;
    $font-paragrafo: "Space Grotesk", sans-serif;
    $font-cabecalho1-size: 72px;
    $font-cabecalho2-size: 52px;
    $font-cabecalho3-size: 41px;
    $font-cabecalho4-size: 31px;
    $font-paragrafo1-size: 18px;
    $font-paragrafo2-size: 16px;
    $font-paragrafo3-size: 14px;

