@use './variaveis';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

// Body

body {
    margin: 0;
}

// Header

.header {
    display: flex;
    justify-content: space-between;
    background-color: variaveis.$background-color-header;
    height: 5em;
    gap: 20px;
}

.logo {
    text-decoration: none;
    align-items: center;
    font-size: variaveis.$font-paragrafo2-size;
    color: variaveis.$text-color2;
    font-family: variaveis.$font-paragrafo;
    padding: 25px 0 20px 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    color: variaveis.$text-color2;
}

.menu nav ul{
    display: flex;
    align-items: center;
    margin-right: 8rem;
    padding: 10px 0 20px 40px;
    
    font-family: variaveis.$font-paragrafo;
    list-style: none;
    color: variaveis.$text-color2;
    gap: 20px;
}

.menu nav a {
    text-decoration: none;
    color: variaveis.$text-color2;
}

.menu nav a li:hover {
    width: 100%;
    border-bottom: 1px solid variaveis.$text-color2;
    transition: 2s ease-in;
}

// Main 

main {
    background-color: variaveis.$background-color4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5em);
    padding: 0 40px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    max-width: 1200px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title h3 {
    margin: 5em 0 0.5em 5em;
    color: variaveis.$text-color1;
    font-family: variaveis.$font-paragrafo;
    font-weight: 400;
}

.nome_main {
    display: flex;
    flex-direction: column;
    
    color: variaveis.$text-color1;
}

.nome_main h1 {
    margin: 0 0 0 1.2em;
    color: variaveis.$text-color1;
    font-size: 4.5em; 
    line-height: 1.1; 
    font-family: variaveis.$font-paragrafo; 
}

.img_eu {
    display: flex;
    margin-left: auto;
    height: auto;
    margin-top: -20em;
    margin-left: 43em;
}

// Sobre mim 

.sobre_mim {
    background-color: variaveis.$background-color2;
}

.titulo_sobre h2, p{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}