@use './variaveis';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

// Body

body {
    margin: 0;
}

.landing {
    background-image: url(../imgs/fundo-landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// Header

.header {
    display: flex;
    justify-content: space-between;
    height: 5em;
    gap: 20px;
}

.logo {
    text-decoration: none;
    align-items: center;
    font-size: variaveis.$font-paragrafo2-size;
    color: variaveis.$text-color1;
    font-family: variaveis.$font-paragrafo;
    padding: 2em 0 0 5em;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

    color: variaveis.$text-color2;
}

.menu nav ul{
    display: flex;
    align-items: center;
    margin-right: 5rem;
    padding: 1em 0 0 5em;
    
    font-family: variaveis.$font-paragrafo;
    list-style: none;
    gap: 20px;
}

.menu nav a {
    text-decoration: none;
    color: variaveis.$text-color1;
}

.menu nav a li:hover {
    width: 100%;
    border-bottom: 1px solid variaveis.$text-color1;
    transition: 2s ease-in;
}

// Main 

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5em);
}

.main-content {
    display: flex;
    margin-top: -2em;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.title h3 {
    color: variaveis.$text-color4;
    font-family: variaveis.$font-paragrafo;
    font-weight: 600;
    font-size: 4.5rem;
    text-shadow:  1px 1px 8px rgba(0, 0, 0, 0.7);
}

.nome_main {
    display: flex;
    flex-direction: column;
}

.nome_main button {
    border: 1px solid variaveis.$text-color3;
    background-color: transparent;
    border-radius: 10px;
    padding: 1em;

    color: variaveis.$text-color3;
    font-family: variaveis.$font-paragrafo; 
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

// Sobre mim 

.sobre_mim {
    background-color: variaveis.$background-color2;
}

.titulo_sobre h2, p{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}