// Fonte
$background-color: #0B1120;
$color1: #6366F1;
$color-btn1: #1E293B;
$color-ferramentas: #7179EA;
$color-tecnologias-proj: #2C345F;
$color-text-btn-proj: #585BD5;

// Fonte
$font: "Poppins", sans-serif;;